.add-to-cart {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(83, 124, 227);;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  margin-top: 15px;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}



.add-to-cart:hover {
  background-color: transparent;
  color: #333;
  outline: 1px #333 solid;
}